body {
}

ul.tree li{
   list-style-type: none;
}

svg {
  margin-top: 32px;
  border: 1px solid #aaa;
}

.person rect {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1px;
}

.person {
  font: 14px sans-serif;
  cursor: pointer;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

.tree-name{
   font-size:8px;
   text-align:center;
   text-wrap
}